.header{
  height: 100px;
  padding: 4px;
  /* padding: 40px 0; */
  /* border: 2px solid black; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extra_padding{
  margin: 0 10%;
}

.dropdown{
  background-color: red;
}

.icon_space{
  margin-right: 10px;
}

.module_name_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.module_name{
  width: 100%;
  margin: 0px;
  border: 1px solid black;
  border-radius: 10px;
}